/* TYPOGRAPHY SYSTEM */
h1 {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -1px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.5px;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 1.05rem;
    line-height: 1.7;
    letter-spacing: 0.3px;
    color: #333;
}